table {
    color: #000 !important;
}

table tr th {
    color: #000 !important;
}

.panel.widget h4 {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

.panel.widget p {
    font-size: 20px;
    color: #fff;

}

h5 {
    color: #000;
    font-weight: bold;
}
